<h1>About</h1>

<p>This is a sample Rails app made for the Code Crew Ruby on Rails Study Group. Who is Code Crew? We were started by a group of people with a common goal — to become software engineers. In order to accomplish this goal we spent countless hours of self study in addition to taking courses and immersing ourselves in the New York technology community. We created this group to help those that are on the same journey and to give back to the NYC tech scene, since it has given so much to us.</p>

<p>When we began we were a small group but we have grown in numbers to include members consisting of entrepreneurs, college students, doctors, lawyers, soccer moms, school teachers, PhD students, designers, engineers and just people that are passionate about learning how to code.</p>

<p>Our members have gone on to gain employment as web developers, launch startups, gain acceptance into software engineering programs such as the Flatiron School, Hacker School and General Assembly and become finalists in hackathons.</p>

<p>We invite you to get involved in our community by attending one of our upcoming events. We look forward to meeting you soon!</p>

<p>Visit us at <a href="http://codecrew.co">www.CODECREW.co</a>!</p>
<%= image_tag "code_crew_logo.png" %>