<h1>Welcome to Our To-Do App</h1>

<p>This is a sample to-do app for people that want a very high level introduction to the Ruby on Rails web development framework. </p>

<p>Visit us at <a href="http://codecrew.co">www.CODECREW.co</a>!</p>
<%= image_tag "code_crew_logo.png" %>